<div class="container pt-10" style="margin-top: 8%">
    <div class="row">
      <div
        class="col-sm d-flex justify-content-center align-items-start landingText mr-10"
      >
        <div class="col ml-3">
          <div>
            <p class="text-start">
              <span style="font-size: 28pt;"
                ><strong>HRPlus</strong>, is a space that connects employees, candidates and the company . . .</span
              ><br />
              <span style="font-size: 17pt;">
                If you are looking for a job, you can apply to our company by accessing this link</span
              >
            </p>
          </div>
  
          <div>
            <button
              mdbBtn
              type="button"
              (click)="start()"
              color="indigo"
              class="buttonText"
              mdbWavesEffect
              routerLink="/candidat"
            >
            Apply
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm d-flex justify-content-center ">
        <img src="assets/img/hrdata.png" width="553" height="200" style="margin-top: 16%;" />
      </div>
    </div>
  </div>