<div class="wrapper">
  <div class="left"> 
    <img src="http://localhost:8080/avatar/{{id}}" alt="user" width="150" class="img-circle">
    <br>
    <br>
    <h4>{{user.prenom}} {{user.nom}} </h4>
    <h2>{{user.fonction}}</h2>

  </div>
        
  <div class="right">

    <div class="info">
          <h3> Contact information</h3>
      <div class="info_data">
            <div class="data">
              <h4>Date of birth</h4>
              <p> {{user.dateOfBirth}}</p>
          </div>
          <div class="data">
            <h4>Phone</h4>
            <p> {{user.phone}}</p>
        </div>
        <div class="data">
          <h4>Email</h4>
          <p> {{user.email}}</p>
        </div>
        <div class="data">
          <h4>Address</h4>
          <p> {{user.adresse}}</p>
        </div>

    </div>
  </div>
          
  <div class="projects">

      <h3> Post</h3>
      <div class="info_data">
        <div class="data">
          <h4>Department</h4>
          <p> {{user.departement}}</p>
        </div>
        <div class="data">
          <h4>Fonction</h4>
          <p> {{user.fonction}}</p>
        </div>
        <div class="data">
          <h4>Type of contract</h4>
          <p> {{user.typeContrat}}</p>
        </div>
        <div class="data">
          <h4>Entry date </h4>
          <p> {{user.dateEntree}}</p>
        </div>
        <div class="data">
          <h4>Salary</h4>
          <p> {{user.salary}}</p>
        </div>
        

      </div>
        
        
    </div>
    
    <a class="btn" (click)="updateUser(employe)" >Edit your information
    </a>
    
  </div>

  

</div>
