
  <h3><i class="fa fa-angle-right"></i> List of employees</h3>
  
  <div>
    
        <div >
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"/> 
        </div>
      
  <table class="table table-striped">

    <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>first name</th>
      <th>last name</th>
      <th>Post</th>
      <th>phone</th>
      <th>email</th>
      <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employe of employees | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p}" >
          <td><img src="http://localhost:8080/avatar/{{employe.idUser}}" alt="user" width="70" class="img-circle"></td>
            <td>{{employe.prenom}}</td>
            <td>{{employe.nom}}</td>
            <td>{{employe.fonction}}</td>
            <td>{{employe.phone}}</td>
            <td>{{employe.email}}</td>
             
            <td>
              <div class="container">
              <button mat-raised-button class="action-button btn-success" [routerLink]="['/profilEmploye', employe.idUser]"><mat-icon>
                remove_red_eye

              </mat-icon></button>
              <button mat-raised-button class="action-button btn-primary" (click)="updateUser(employe)"><mat-icon>edit</mat-icon></button> 
              <button mat-raised-button class="action-button btn-danger" (click)="archiveEmploye(employe)"><mat-icon>delete_outline</mat-icon></button>
            </div>
            </td>

           
        </tr>
    </tbody>
    
  </table>
  <div class="pagination">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>





   
    