<div class="wrapper">
    <div class="left">
        <img src="assets/img/candi.png" alt="user"  class="img-circle">
        <h5>{{candidate.prenom}} {{candidate.nom}} </h5>

    </div>
    <div class="right">
        <div class="info">
            <h3>Civility</h3>
            <div class="info_data">
                <div class="data">
                    <h4>Email</h4>
                    <p>{{candidate.email}}</p>
                </div>
                <div class="data">
                    <h4>Phone</h4>
                    <p>{{candidate.phone}}</p>
                </div>
                <div class="data">
                    <h4>Date of birth</h4>
                    <p>{{candidate.dateOfBirth}}</p>
                </div>

            </div>
        </div>

        <div class="projects">
            <h3>Study level</h3>
            <div class="projects_data">
                <div class="data">
                    <h4>Level</h4>
                    <p>{{candidate.niveauEtud}}</p>
                </div>
                <div class="data">
                    <h4>Diploma title</h4>
                    <p>{{candidate.titreDiplome}}</p>
                </div>
                <div class="data">
                    <h4>Engineering school</h4>
                    <p>{{candidate.university}}</p>
                </div>
                
            </div>
        </div>
        <div class="exp">
            <h3>Experience</h3>
            <div class="exp_data">
                <div class="data">
                    <h4>level of experience
                    </h4>
                    <p>{{candidate.niveauExp}}</p>
                </div>
                <div class="data">
                    <h4>Experiences</h4>
                    <p>{{candidate.experience}}</p>
                </div>
                

            </div>
        </div>

        <div class="exp">
            <h3>Attached documents
            </h3>
            <div class="exp_data">
                <div class="data">
                    <h4>CV</h4>
                    <p>{{candidate.pathCv}}
                        <a href="http://localhost:8080/downloadFile/{{candidate.pathCv}}"
                class="cv"><i class="fa fa-download"></i></a>
                    </p>
                </div>
                <div class="data">
                    <h4>Cover letter
                    </h4>
                    <p>{{candidate.pathMotivationLetter}}
                        <a href="http://localhost:8080/downloadFile/{{candidate.pathMotivationLetter}}"
                class="cv"><i class="fa fa-download"></i></a>
                
                    </p>
                    
                </div>
                

            </div>
        </div>
    </div>
    
</div>

    <div class="container">
    <a class="btn btn1"(click)="sendConfirmMsg(candidate.idUser)">Send an email of confirmation</a>
    <a class="btn btn2" (click)="sendDenyMsg(candidate.idUser)">Send an email of rejection</a>
    </div>

