@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}

table{
 position: absolute;
 z-index: 2;
 left: 58%;
 margin-top: 20%;
 transform: translate(-50%,-50%);
 width: 50%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 10px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
td , th{
 padding: 15px 20px;
 text-align: center;
 font-size: 16.5px;
 

}
th{
 background-color: #4ECDC4;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;
 width: 100px;

}
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}

button{
    width: 26px;
    height: 26px;
    margin : 2px;
    font-size: 13px;
    
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 24px;
}
.container{
    text-align: center;
}