
  <h3><i class="fa fa-angle-right"></i> Todo List </h3>

    <div _ngcontent-roy-c3="" >
        
        <br _ngcontent-roy-c3="">
        
        <button 
                class="btn-tache"
                style="margin-left: 35%; width: 30%;"
                 type="submit"
                (click)="onAddTodo()">Add a task</button>
        <br><br><br>

        <div style="margin:5px 0px" class="container">
            <ul class="list-group">
                
                <li class="list-group-item" *ngFor="let todo of todos" [class.completed]="todo.completed === true" >
                    <div class="todo-row" *ngIf="!editing || editingTodo.id != todo.id">
                        <a class="todo-completed" (click)="toggleCompleted(todo)">
                          <i class="material-icons toggle-completed-checkbox"></i> 
                        </a> 
                        <span class="todo-title">
                           {{todo.description}}
                        </span>
                        
                        <span class="todo-actions pull-right">
                            <a (click)="updateTodo(todo)">
                              <i class="material-icons edit">edit</i>
                            </a>
                            <a (click)="deleteTodo(todo)">
                              <i class="material-icons delete">clear</i>
                            </a>
                        </span>
                    </div>
                    <div class="todo-edit" *ngIf="editing && editingTodo.id === todo.id">
                        <input class="form-control" type="text" 
                         [(ngModel)]="editingTodo.title" required>
                        <span class="edit-actions">
                            <a (click)="updateTodo(editingTodo)">
                              <i class="material-icons">done</i>
                            </a>
                            <a (click)="clearEditing()">
                              <i class="material-icons">clear</i>
                            </a>
                        </span>
                    </div>
                  </li>
            </ul>
        </div>
        
</div>


